@font-face {
  font-family: "FuturaPTBook";
  src: url("./assets/FuturaPTBook.otf") format("opentype");
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the body and html fill the screen */
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  background-color: black; /* Match background color */
}
