@font-face {
  font-family: "FuturaPTBook";
  src: url("./assets/FuturaPTBook.otf") format("opentype");
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
